<html>
        {% include 'header.html' %}
    <body>
            <div class="container">
                    <form class="col s4" action="/giveMedication" method="POST">
                            <input placeholder="Patient Id" name="patientId" type="text" >
                            <input placeholder="Doctor/Nurse Id" name="giverId" type="text" >
                            <input placeholder="Medication/Symptom" name="given" type="text" >
                      <input class="waves-light btn our-colour" type="submit" value="Give Medication" name="submit">
                      <input class="waves-light btn our-colour" type="submit" value="Add Symptoms" style="color: white;"  name="submit">  
                </form>

                        <!-- <input  onclick="location.href='/addSymptoms';" class="waves-light btn our-colour" type="button" value="Add Symptoms" style="color: white;"  name=""> -->
                  </div>

    </body>
</html>
